.env

# Build Outputs
.cache/
evm/artifacts/
evm/ignition/deployments/
evm/ignition/parameters/hardhat.json

# Solidity Submodules
evm/lib/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.npm
jspm_packages/
