src/wagmi/index.ts

.env
*.local

# Build Outputs
.cache/

evm/deployments/chain-31337/
evm/ignition/parameters/hardhat.json
evm/types/

# Solidity Submodules
evm/lib/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.npm
jspm_packages/
