services:
  anvil:
    image: ghcr.io/foundry-rs/foundry
    working_dir: /anvil
    volumes:
      - ./:/app
    ports:
        - "8545:8545"
    environment:
      ANVIL_IP_ADDR: "0.0.0.0"
    command: anvil --gas-limit 100000000
